/* header section 1 star*/


header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 100px;
       
}
nav {
    display: flex;
    justify-content:space-between ;
}

nav > h3{
   
    font-family: Work Sans;
    font-size: 35px;
    margin-right: 500px;
    
   
}
nav > img{
    margin-left: 150px;
    height: 30px;
    margin-top: 30px;
}
ul{
    list-style: none;
    display: flex;
    margin: 30px;
    padding-right: 200px;
    gap: 20px;
     
}

.follow{
    border-radius: 4px;
    background: rgba(11, 2, 35, 0.10);
    padding: 3px;
    text-align: center;
    margin-top: -10px;
    
}
 .youtube{
    height: 15px;
    width: 15px;
    padding-top: 5px;

 }

 /* responsive media quiries  */
/* mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
}


/* section 2  start*/

.goat  {
    display: flex;
    justify-content: space-between;
   
}

.online h2{
    color: #0B0223;
font-family: Work Sans;
font-size: 30px;
}

.funny {
    color:#F948B2;
}

.download{

    margin-right: 50px;
    margin-left: 50px;
    gap: 20px;
}

.download > img

{
height: 400px;
width: 300px;

}


.group-img >img {
    width: 500px;
    height: 416px;
    margin-right: 200px;
}

.play{
    margin-top: 100px;
    margin-left: 200px;
}
.play > h2{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    
    font-weight: 600;}

 .play >h3 {
        text-align: center;
color: #F948B2;
font-size: 60px;
font-weight: 500;

 }
.sign {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    background-color: #F948B2;
    border-radius: 48px;
    border: none;
    padding: 12px;
}
 
.Rogue{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    background-color: #4EC5F7;
    border-radius: 48px;
    border: none;
    padding: 12px;

}
/* section 3 start */

.online{
    text-align: center;
    j
}
.download
{
  display: flex;
  justify-content: space-between;
}

/* section 4 start */

.play-no {
display: flex;
justify-content: space-between;
}

.play-yes{
    margin-top:150px;
    text-align: center;
    margin-left: 300px;
}

.play-yes >h2{
    text-align: right;
font-family: Work Sans;
font-size: 34px;
}


.play-yes >h2 >span {
    color: #F948B2;
}


.overlap {
position: relative;
margin-top: -200px;
margin-left: -100px;
}

.overlap-one {

    
     }

.overlap-two
{
margin-right: 150px;
height: 550px;
width: 500px;
margin-top: 50px;
}

.overlap-three{

    height: 250px;
    width: 220px;
    
}

/* section 5 start*/


.action{
    height: 400px;
    margin-top: 100px;
}
.game{
    display: flex;
    margin-left: 100px;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.atio:hover {
background-color: red;
box-shadow: #F948B2;
border-radius: 50px;
padding: 15px 15px;
}

.action-two

{
display: flex;
justify-content: center;
margin-top: 80px;
gap: 20px;
cursor: pointer;

}


/* Footer section start */

.footer-one{

    height: 400px;
    background-color: #0B0223;;
}

.game-two {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;

}

.fram{

 
    display: flex;
    justify-content: center;
   padding-top: 80px;
   text-align: center;
}

.fram >img{

    height: 35px;
}

.story ul > li{
    color: white;
    
}
.story >ul{
   justify-content: center;
}

.para >ul{
    justify-content: center;
     padding: 10px;
    gap: 60px;
}

.para > ul> li {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
   
}

.para-footer{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    justify-content: center;
}

.icon-all >img
{

height: 30px;
width: 30px;
gap: 30px;
color: white;
padding-left: 30px;



}

.icon-all{
    justify-content: center;
    margin-left: 490px;
}