/* header section 1 star*/


header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 100px;
       
}
nav {
    display: flex;
    justify-content:space-between ;
}

nav > h3{
   
    font-family: Work Sans;
    font-size: 35px;
    margin-right: 500px;
    
   
}
nav > img{
    margin-left: 150px;
    height: 30px;
    margin-top: 30px;
}
ul{
    list-style: none;
    display: flex;
    margin: 30px;
    padding-right: 200px;
    gap: 20px;
     
}

/* section 2  start*/

.goat  {
    display: flex;
    justify-content: space-between;
}

.group-img >img {
    width: 500px;
    height: 416px;
    margin-right: 200px;
}

.play{
    margin-top: 100px;
    margin-left: 200px;
}

/* section 3 start */

.online{
    text-align: center;
    j
}
.download
{
  display: flex;
  justify-content: space-between;
}

/* section 4 start */

.play-no {
display: flex;
justify-content: space-between;

}

/* section 5 start*/
.action{
    height: 400px;
    margin-top: 100px;
}
.game{
    display: flex;
    margin-left: 100px;
}

/* Footer section start */

.footer-one{

    height: 400px;
    background-color: #0B0223;;
}

.game-two {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;

}

.fram{

 
    display: flex;
    justify-content: center;
   padding-top: 80px;
   text-align: center;
}

.fram >img{

    height: 35px;
}

.story ul > li{
    color: white;
    
}
.story >ul{
   justify-content: center;
}